body{
    font-family: 'Roboto', sans-serif;
}

.container-c{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;

}
.card-titulo{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: center;
    height: auto;
    padding-top: 150px;
}
.card-container{
    display: flex;
    width: 900px;
    height: auto;
    background: #fff;
    border-radius: 6px;
    box-shadow: 4px 4px 10px 10px black;
}
.card-header{
    border-right: 1px solid #ddd;
}
.descripcion{
    background: #fbfbfb;
    position: relative;
}
.card-header, .descripcion{
    padding: 20px;
    text-align: center;
}
.card-header img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0px rgba(0,0,0,.06);
    margin: 20px 30px;
    transition: .25;
}
.card-header h2{
    color: #f0522a;
}
.card-headerh4{
    margin-bottom: 20px;
}
.descripcion p{
    padding-top: 0px;
    margin: 20px 20px;
    font-size: large;
}
footer{
    width: 100%;    
    color: white;
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}
footer p{
    text-align: center;     
}

@media (max-width:1165px){
    .card-titulo{
        padding-top: 220px;
    }
}
@media (max-width: 1030px){
    .card-titulo{
        padding-top: 150px;
    }
}
@media (max-width: 840px){
    .card-titulo{
        padding-top: 130px;
    }
}
@media (max-width: 700px){
    .card-container{
        display:block;
        width: 500px;
        height: auto;

    }
    .container-c{
        padding-top: 320px;
        padding-bottom: 320px;
    }
    .card-header h2{
        font-size: 25px;
    }
    .card-header h4{
        font-size: 20px;
    }
    .descripcion h2{
        font-size: 20px;
    }
    .descripcion p{
        font-size: 15px;
    }
    .card-titulo{
        padding-bottom: 20px;
    }
}

@media (max-width: 520px){
    
    .container-c{
        padding-top: 360px;
        padding-bottom: 350px;
    }
   
}

@media (max-width: 360px){
    
    .container-c{
        padding: 380px 100px 400px 100px;
    }
   
}